<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="container col-xxl-8 px-4 py-5" style="background: #245">
        <div class="center g-5 px-5 py-5">
          <h1 style="color: aliceblue">
            From API Creation to deployment <br />
            Prompt! Convenient! Secure!
          </h1>
        </div>
      </div>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="public/images/Instant_API_creation.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-4">Instant API creation</h1>
            <p class="lead">
              When you use Data Infuser, you do not need to code. <br />
              Just with GUI-based simple operations, you can immediately <br />
              create and manage your APIs.
            </p>

            <p>
              Select the desired data file and upload the file with a simple
              click. The file contents are automatically entered into the
              database. Create your own API through effortless operations.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-lg-6">
            <img
              src="public/images/Automated_API_docs.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">Automated API docs</h1>
            <p class="lead">
              It is essential to read the API specifications before using the
              API. Data Infuser automatically furnishes API documentation by
              Swagger. Swagger's interactive UI provides a nice visualization of
              API operations, helping readers understand how the API works. Even
              without perfectly understanding the API system, you can build your
              API service after reading the API documentation.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="public/images/Infuser.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">
              Collection of Various Data Sources
            </h1>
            <p class="lead">
              When the user inserts files (e.g. xlsx, CSV) or DBMS (e.g. Oracle,
              MySQL, MariaDB, CUBRID, Tibero) into the file uploader. Data
              Infuser extracts data aptly according to each file format. If the
              content of the source data keeps changing, Data Infuser's
              scheduler automatically collects and regularly updates data.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-lg-6">
            <!-- 사진 넣는 공간 <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">사진 -->
            <img
              src="public/images/Microservice_Architecture.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">
              Microservice Architecture
            </h1>
            <p class="lead">
              Data infuser provides stable service in case of high traffic. The
              independence of each service enables consistent deployment and
              elastic server control. Each module within the service uses HTTP
              2.0 based RPC to foster communication, which results in overall
              lighter and faster performance.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="public/images/Admin_Console.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">Admin Console</h1>
            <p class="lead">
              The Manager system helps administrators monitor and oversee the
              current state of generated API more efficiently through data
              visualization modules.
            </p>
            <p class="lead">
              With Manager, you can view the list of APIs, ongoing changes in
              traffic, or the amount of traffic per API through the dashboard.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-lg-6">
            <!-- 사진 넣는 공간 <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">사진 -->
            <img
              src="public/images/Rock-solid_security.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">Rock-solid security</h1>
            <p class="lead">
              Data Infuser employs token-based authentication methods that are
              at low risk of hacking.
            </p>
            <p class="lead">
              Only verified users with validated API and authentication keys can
              use the deployed API.
            </p>
            <p class="lead">
              Encryption of personal information also makes user information
              more secure.
            </p>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
