html, body {margin: 0; padding: 20px; height: 100%; }
#ask-button {
    color: white;
    background: rgb(170, 20, 20);
    padding: 8px;
    border: none;
    font-size: 13px;
    border-radius: 15px;
    float: right;
}


#hashtag-form {
    float: right;
    margin-top: 60px;
}
hr {
    margin-top: 30px;
}
h6 {
    display: inline;
    margin-bottom: 20px;
}

#title {
    display: inline;
    margin-bottom: 20px;
}

.answer h5,
.answer button,
#title h2 {
    display: inline;
}

.answer-nick {
    display: block;
}

.answer button,
#title h6 {
    float: right;
    margin-left: 10px;
}

.like-button {
    padding: 4px 15px;
    border: 1px solid black;
    background: white;
    font-size: 15px;
    border-radius: 10px;
}

.like-button:hover {
    background-color: rgb(170, 20, 20);
    color: white;
    border: none;
}

#submit button {
    margin-top: 40px;
    padding: 8px 20px;
    border: 1px solid black;
    background-color: rgb(170, 20, 20);
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#submit textarea {
    width: 700px;
    height: 250px;
}
#hashtags {
    padding-top: 10px;
    margin-bottom: 30px;
}

#hashtags h5 {
    display: inline;
    margin-right: 10px;
    background-color: rgb(170, 20, 20);
    color: white;
    padding: 7px 12px;
    border-radius: 12px;
}

#like {
    margin-right: 5px;
}